.line {
  @apply before:block before:absolute before:w-0 before:h-[60px] before:border before:border-l-white before:top-0 before:left-[50%] max-lg:after:block max-lg:after:absolute max-lg:after:w-0 max-lg:after:h-[60px] max-lg:after:border max-lg:after:border-l-white max-lg:after:bottom-0 max-lg:after:left-[50%];
}
body {
  --anim-time: 3s;
  --anim-delay-first: 1s;
  --anim-delay-second: calc(var(--anim-delay-first) + var(--anim-time));
  --width-hover: 80px;
  --transition: 0.3s;
  background: black;
}

.load {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.load > div {
  font-size: 18px;
  font-family: IBM;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 10px;
  mix-blend-mode: difference;
  white-space: nowrap;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  margin-top: -30px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .load > div {
    font-size: 16px;
    letter-spacing: 6px;
    margin-top: 0px;
  }
}
html.fullHeight,
body.fullHeight {
  height: 100% !important;
  overflow: hidden;
}
.noise {
  &::before {
    animation: grain 6s steps(10) infinite;
    background-image: url("https://tympanus.net/Development/CSSMarqueeMenu/img/noise.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.6;
    position: fixed;
    top: -100%;
    width: 300%;
  }
}
.hiimbomb {
}
.hamberger {
  @apply flex flex-col space-y-1 justify-center items-center w-[20px] h-[30px] cursor-pointer;
  div {
    @apply w-[10px] h-[1px] bg-white rounded-full;
  }
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.back-to-top {
  display: none;
}
.logo {
  li {
    @apply bg-white/20 hover:bg-white/30 duration-300 cursor-pointer md:p-4 p-2 rounded-2xl;
    img {
      @apply scale-105 duration-300;
    }
  }
}
