.line {
  @apply before:block before:absolute before:w-0 before:h-[60px] before:border before:border-l-white before:top-0 before:left-[50%] max-lg:after:block max-lg:after:absolute max-lg:after:w-0 max-lg:after:h-[60px] max-lg:after:border max-lg:after:border-l-white max-lg:after:bottom-0 max-lg:after:left-[50%];
}
body {
  --anim-time: 3s;
  --anim-delay-first: 1s;
  --anim-delay-second: calc(var(--anim-delay-first) + var(--anim-time));
  --width-hover: 80px;
  --transition: 0.3s;
}
.noise {
  &::before {
    animation: grain 6s steps(10) infinite;
    background-image: url("https://tympanus.net/Development/CSSMarqueeMenu/img/noise.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.6;
    position: fixed;
    top: -100%;
    width: 300%;
  }
}
.hiimbomb {
}
.hamberger {
  @apply flex flex-col space-y-1 justify-center items-center w-[20px] h-[30px] cursor-pointer;
  div {
    @apply w-[10px] h-[1px] bg-white rounded-full;
  }
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
// Intro Content
// .screen {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   background: white;
//   z-index: 1600;
//   &--grid {
//     display: grid;
//     grid-template-columns: 100%;
//     grid-template-rows: 100%;
//     justify-items: center;
//     align-items: center;
//   }
// }
// .intro__content {
//   font-size: 4vw;
//   grid-area: 1 / 1 / 2 / 2;
//   text-align: center;
//   pointer-events: none;
//   margin: 0;
//   opacity: 0;
//   &-line {
//     display: block;
//     margin: 1rem 0;
//     &--small {
//       font-size: 1.5rem;
//     }
//   }
// }
// .start-anim .intro__content {
//   animation: fadeInOut var(--anim-time) var(--anim-delay-first) linear forwards;
// }

// .start-anim .intro__content:nth-child(2) {
//   animation-delay: var(--anim-delay-second);
// }
// @keyframes fadeInOut {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     pointer-events: none;
//   }
// }
// @keyframes loaderAnim {
//   to {
//     opacity: 1;
//     transform: scale3d(0.5, 0.5, 1);
//   }
// }
// @keyframes fadeOut {
//   to {
//     opacity: 0;
//   }
// }

.is-hidden {
  display: none;
}
.logo {
  li {
    @apply bg-white/20 hover:bg-white/30 duration-300 cursor-pointer md:p-4 p-2 rounded-2xl;
    img {
      @apply scale-105 duration-300;
    }
  }
}
.dropdown.active {
  @apply block;
}
.dropdown {
  @apply hidden;
}
